<li class="item">
  <div *ngIf="!editable">
    <div class="input-group">
      <input
        type="checkbox"
        [name]="item.description"
        [id]="item.description"
        [checked]="item.done"
        (change)="item.done = !item.done"
      />
      <label [for]="item.description">{{ item.description }}</label>
    </div>

    <div class="btn-wrapper">
      <button class="btn" (click)="editable = !editable">Edit</button>
      <button class="btn btn-warn" (click)="deleteItem()">Delete</button>
    </div>
  </div>

  <div *ngIf="editable">
    <div class="input-group">
      <input
        type="checkbox"
        [name]="item.description"
        [id]="item.description"
        [checked]="item.done"
        (change)="item.done = !item.done"
      />
      <input
        type="text"
        class="sm-text-input"
        placeholder="Edit item"
        autofocus
        [value]="item.description"
        #editedItem
        (keyup.enter)="saveItem(editedItem.value)"
      />
    </div>

    <div class="btn-wrapper">
      <button class="btn" (click)="editedItem.value = ''; editable = !editable">
        Cancel
      </button>
      <button class="btn btn-save" (click)="saveItem(editedItem.value)">
        Save
      </button>
    </div>
  </div>
</li>
