<div class="main">
  <h1>My To Do List</h1>

  <app-new-item-form (addItem)="addItem($event)"></app-new-item-form>

  <app-filters [filter]="filter" (setFilter)="setFilter($event)"></app-filters>

  <h2>
    {{ items.length }}
    <span *ngIf="items.length === 1; else elseBlock">item</span>
    <ng-template #elseBlock><span>items</span></ng-template>
  </h2>

  <ul>
    <app-item
      *ngFor="let item of items"
      [item]="item"
      (deleteEvent)="deleteItem(item)"
    ></app-item>
  </ul>
</div>
